p
	{
		font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
	}



h1

	{
		color: blue;
		text-align: center;
		font-size: 4.5em;
		border: 2px solid blue;
		border-radius: 10px;
	}

.photo
	{
		float: right;
	}

.dessous
	{
		clear: both;
		float: right;
	}

a:hover
	{
		font-style: bold;
		text-decoration: underline;
		color: green;
	}